<div class="product-block product-title-price" {{ block.shopify_attributes }}>
  <h1 class="product-title {{ block.settings.title_font_size }}">{{ product.title }}</h1>

  <div class="product-price js-variant-price">

    {% for variant in product.variants %}
      <div class="variant-price-item hide-price {{ block.settings.price_font_size }}" data-variant-id="{{ variant.id }}">
        {% if variant.compare_at_price > variant.price %}
          <span class="price price--sale">
            {{ variant.price | money }}
          </span>
          <span class="price price--compare">
            {{ variant.compare_at_price | money }}
          </span>
        {% else %}
          <span class="price price--regular">
            {{ variant.price | money }}
          </span>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</div>
